/*main page*/

#Staff_management-grid {
    display: grid;
    grid-template-areas: 
    'Staff_management-header'
    'main'
    ;
}

#Staff_management-header{
    grid-area: Staff_management-header;
    width: 100%;
    height: 100%;
}

.main {
    grid-area: main;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;  
    justify-content: center;  
    align-items: center;  
   
   
}

/*forms*/
.field{
    width: 90%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    background-color: rgba(222, 184, 135, 0.226);
    margin: 10px 10px;
  }

  
.field:focus{
      background-color: rgb(211, 183, 147);
  }

.contact-box{
    background-color: #ffffff;
    color: black;
    margin: 10px 10px;
    padding: 10px 10px;
    line-height: 20px;
    justify-content: left;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.151), 0 2px 4px -1px rgba(0, 0, 0, 0.116);
    border-radius: 12px;
    transition-duration: 0.4s;
    font-size: 16px;
    border: 1px solid #d1ccbc;
    text-align:right;
    width: 40vw;
 }

 #buttonid{
    text-align: center;
  }

  .label{
    margin-top: 6px; 
    margin-bottom: 16px;
  }

  /*responsive web */
@media only screen and (max-width:750px) {

  #Staff_management-grid{
   display: grid;
   grid-template-areas: 
   'Staff_management-header'
   'main';
  }

  .contact-box{
    width: 70%;
  }
}