* {box-sizing: border-box;
  font-size: 15px;
}

/* form */

/* style inputs and link buttons */
input,.btn {
opacity: 0.85;
display:flex;
line-height: 20px;
text-decoration: none; /* remove underline from anchors */
width: 25%; 
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px; 
box-sizing: border-box;
margin-top: 6px; 
margin-bottom: 16px; 
resize: vertical ;
background-color: rgba(222, 184, 135, 0.226);
margin: 10px 10px;
font-size: 12px;

}

#judje{
  background-color: #ffffff;
  color: black;
  margin: 40px 10px;
  padding: 10px 10px;
  line-height: 20px;
  justify-content: left;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.151), 0 2px 4px -1px rgba(0, 0, 0, 0.116);
  border-radius: 12px;
  transition-duration: 0.4s;
  font-size: 16px;
  border: 1px solid #d1ccbc;
  text-align: center;
}

input:hover,
.btn:hover {
opacity: 1;
}


/* style the submit button */
input[type=submit] {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  margin: 10px 10px;
  padding: 20px 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.151), 0 2px 4px -1px rgba(0, 0, 0, 0.116);
  padding: 13px 23px;
  font-size: 16px;
  border: 1px solid #222222;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;  
}

input[type=submit]:hover {
  background-color: #dfdbdb;
}



/* Two-column layout */
.col {
float: left;
width: 33%;
margin: auto;
padding:  10px;
margin-top: 6px;
display: flex;  
justify-content: center;  
align-items: center;  
text-align: center;
}

.col select{
  background-color: rgba(222, 184, 135, 0.226)    ;
  color: black;
  cursor: pointer;
  margin: 10px 10px;
  padding: 20px 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.151), 0 2px 4px -1px rgba(0, 0, 0, 0.116);
  padding: 13px 23px;
  font-size: 16px;
  border: 1px solid #222222;
  border-radius: 8px;
  text-align: center;
}
/*  */
.upper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 20px;
  margin-top: 6px;
  width: 58%;
}

.submit_but {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}


@media only screen and (max-width:600px) {

  .upper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 1px;
    width: 100%;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-align: center;
  }

  .col {
    float: left;
    width: 100%;
    margin: auto;
    margin-top: 1px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-align: center;
  }

  .submit_but {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 1px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-align: center;
  }

  #score{
  float: left;
  width: 100%;
  margin: auto;
  margin-top: 1px;
  display:inline;  
  justify-content: center;  
  align-items: center;  
  text-align: center;
  }
  
}

